/* Reset basique */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #2c3e50;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  color: #ddd;
}

nav {
  margin-top: 1rem;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
  font-weight: bold;
}

/* SECTION A PROPOS */
.about {
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.about h2 {
  color: #4a00e0;
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 1rem;
}

.about h3 {
  margin-top: 1.5rem;
  color: #8e2de2;
}

.skills {
  list-style: none;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0;
}

.skills li {
  background: linear-gradient(135deg, #4a00e0, #8e2de2);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
}

.container h2 {
  margin-bottom: 1rem;
  color: #2c3e50;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 0.5rem;
  color: #2c3e50;
}

.card p {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.card a:not(.pdf-link) {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #3498db;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  width: max-content;
}

.card a:hover:not(.pdf-link){
  background: #2980b9;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #2c3e50;
  color: #fff;
  margin-top: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
}