.competences-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.competences {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
}

.competences-list {
    margin-top: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.technical-competence-list, .language-competence-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.competence-card {
    background: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 19%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}