* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SECTION A PROPOS */
.about {
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.profil-section {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
}

/* Professional Experience and Academic Training */

.professional-experience-section, .academic-training-section {
    display: flex;
    flex-direction: column;
}

.professional-experience-card, .academic-training-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    padding: 1.5rem;
    margin: 1rem;
}

.professional-experience-date-location, .professional-experience-title, .academic-training-date-location, .academic-training-title {
    text-align: center;
}

.professional-experience-description, .academic-training-description {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
}