* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SECTION A PROPOS */
.about {
  background: #fff;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.profil-container {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
}