.profil-section {
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    justify-self: center;
    max-width: 70%;

    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;

    border-bottom: black 1px solid;
    padding-bottom: 1rem;
}

.about {
    margin-top: 1rem;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.photo-container {
    display: flex;
    justify-content: center;
    max-width: 20%;
}

.photo {
    display: block;
    width: 50%;
    border-radius: 5px;
}