.projects-section {
    width: 100%;
    margin: 2rem auto;
}

.projects-section h2 {
    margin-bottom: 1rem;
    color: #2c3e50;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.projects-card {
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.projects-card:hover {
    transform: translateY(-5px);
}

.projects-card h3 {
    margin-bottom: 0.5rem;
    color: #2c3e50;
}

.projects-card p {
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.projects-card a:not(.pdf-link) {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #3498db;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width: max-content;
}

.projects-card a:hover:not(.pdf-link){
    background: #2980b9;
}

.links {
    display: flex;
    justify-content: space-between;
}